<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Translated Text</title>
  </head>
  <body>

<h1>Pig Latin:</h1>

<h2>Here is the translated text:</h2>
<h2><%= @translated %></h2>

</body>
</html>