<h1>Pig Latinizer</h1>
<form method="POST" action="/">
  <p>Input Text To Convert Here</p><br>
  <textarea name="user_input"></textarea><br>
  <button type="submit" value="submit">Submit</button>
</form>
 