<h1>Pig Latinizer</h1>

<form method="post" action="/results">
  <p>Input the text you want piglatinized here:</p>
  <textarea type="text" id="phrase" name="user_text"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form